@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #226089;
  font-size: 14px;
  line-height: 1;
  font-family: '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #226089;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  float: left;
  top: 198px;
  left: 45px;
  z-index: 1000;
}

.logo-fixed {
  position: fixed;
  top: 40px;
  left: 45px;
}

.font-sans {
  font-family: 'Quicksand', sans-serif;
}

.inner {
  overflow: hidden;
  position: fixed;
  top: 35px;
  right: 40px;
  z-index: 1000;
}

.global-nav {
  overflow: hidden;
  display: inline-block;
  float: right;
}

.global-nav li {
  float: left;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.global-nav li a {
  display: block;
  padding: 14px 8px;
}

.sns-list {
  float: right;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.sns-list li {
  float: left;
}

.sns-list li a {
  display: block;
  padding: 11px 8px;
}

#wrap {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 188px 0 0;

}

.content {
  position: relative;
}

.top-header {
  position: relative;
  padding: 8px 6% 38px 350px;
}

.title-site {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.12em;
  margin-bottom: 12px;
}

#index h1 {
  display: inline;
  font-size: 14px;
}

address {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.3;
}

.sp_view {
  display: none;
}

.slider-wrap-top {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 6%;
}

.slider img {
 
}

.slider-wrap-top .copyright {
  display: block;
  position: absolute;
  top: 7%;
  right: 2%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 500;
  letter-spacing: 0.15em;
  font-size: 12px;
}

section {
  width: 960px;
  margin: auto;
}

.info {
  box-sizing:border-box;
  padding: 15px;
  text-align: left;
}

.info-bg {
  padding: 10px 20px;  
  opacity: 0;
}

h2 {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15em;
  border-bottom: solid 0.5px;
}

p {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.fade_on {
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

footer {
  background-color: #226089;
  color: #fff;
}

.footer_wrap {
  box-sizing: border-box;
  width: 960px;
  margin: auto;
  padding: 4rem 0;
}

.f_nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

}

.f_nav_box {
  width: 33%;
}

h3 {
  margin-bottom: 2rem;
  letter-spacing: 0.1em;

}

footer p {
  font-weight: lighter;
  line-height: 2;
}

.btn {
  width: 100%;
}

button {
  margin-top: 1rem;
  padding: 0;
  color: #fff;
  background-color: #226089;
  width: 100%;

}

button a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #fff;
  line-height: 1.4rem;
  letter-spacing: 0.14em;
  padding: 1rem ;
  font-weight: bold;
  font-size: 1rem;
}

button a:hover {
  text-decoration: none;
  opacity: 1;
  background-color:#fff;
  color: #226089;
}

/* #concept */

#concept h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 2em;
}

.concept-img img{
  width: 100%;
  height: 500px;
  object-fit: cover; 
  object-position: 50% 40%;  
  margin-bottom: 50px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.logo-c{
  position: fixed;
  top: 40px;
  left: 45px;
  float: left;
  z-index: 1000;
}

#concept section {
  margin-top: 200px;
  margin-bottom: 150px;
}

.concepttxt {
  box-sizing: border-box;
  width:960px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.08em;
  color: #226089;
  margin: 0 auto;
}


/* menu */

.menu-wrap {
  padding: 0px;
  width: 100%;
}

.menu-wrap section {
  width: 1200px;
}

.subArea {
  padding-top: 200px;
}

.menuWaku {
  box-sizing: border-box;
  border: 2px solid #226089;
  margin-bottom: 130px;
  padding: 4px;
  width: 100%;
}

.menuinner {
  box-sizing: border-box;
  border: 2px solid #226089;
  padding: 30px;
  width: 100%;
}

.menutitle {
  font-size: 2em;
  text-align: center;
}

.menuL {
  float: left;
  box-sizing: border-box;
  width: 50%
}

.menuL p {
  font-weight: lighter;
  float: left;
  box-sizing: border-box;
  width: 40%;
  display: block;
  line-height: 1.3;
  padding: 10px 0;
}

.menuL span {
  color: #e3c4a8;
  font-size: 0.9em;
}

.menuL dl {
  float: left;
  box-sizing: border-box;
  width: 60%;
  padding-right: 10px; 
}

.menuL dt {
  float: left;
  padding: 10px 0;
}

.menuL dd{
  padding: 10px 0;
  text-align: right;
  margin-right: 30px;
}

.menuR {
  float: right;
  box-sizing: border-box;
  width: 50%;
  border-left: 1px dotted #226089;
}


.menuR dl {
  float: left;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 30px;
  width: 100%;
}

.menuR dt {
  float: left;
  padding: 10px 0;
}

.menuR dd {
  text-align: right;
  padding: 10px 0;
}


/* staff */

.staff-wrap {
  margin-top: 200px;
  margin-bottom: 150px;
}

.staff-member {
  width: 960px;
  margin:auto;
}

.staff-member h1 {
  text-align: center;
}

.staffWaku {
  display: inline-block;
  border: 2px solid #4592Af;
  width:100%;
  box-shadow: 8px 8px #226089;
  margin-bottom: 50px;
}

.staffInner {
  padding: 30px;
}

.staff-img {
  display: inline-block;
  margin: auto;
  margin-right: 30px;
}

.staff-img img {
  width: 250px;
  height: 200px;
  object-fit: cover; 
  object-position: 50% 0%;
  vertical-align: bottom;
}

.staffInner div {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}

.staffInner p {
  color: #e3c4a8;
  font-size: 12px;
  margin-top: 1em;
  letter-spacing: .1em;
}

/* access */

.map-wrap {
  position: relative;
  padding-top: 200px;
}

.map {
  box-sizing:border-box;
  width: 1060px;
  margin: auto;
  margin-bottom: 150px;
  position: relative;
}

.map-wrap h1 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 2em;
}

.maptxt {
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
  vertical-align: top;
}


.maptxt p {
  line-height: 2;
  font-weight: normal;
  padding-left: 2em; 
  border-left: 5px solid #4592af;
}

.maptxt dl {
  margin: 25px ;
  margin-left: 2em;
  padding-left: 5px;
}

.maptxt  dt{
float: left;
clear: left;
width: 120px;
color: #e3c4a8;
width: 5em;
font-weight: 600;
margin-bottom: 10px;
}

.maptxt dd {
  float: left;
  margin-left: 1em;
  padding-left: 5em;
  padding-bottom: 1.3em;
  margin-bottom: 10px;
  letter-spacing: 0.1em;
  line-height: 1em;
}

.map-frame {
  text-align: right;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}
h1 {
font-family: 'Poppins', sans-serif;
font-size: 3em;
font-weight: 600;
letter-spacing: 0.1em;
}